//全局設定
h2{
    font-size: 48px;
    text-align: center;
}

@media (max-width:768px){
    h2{
        font-size: 32px;
    }
}

@media (max-width:375px){
    h2{
        font-size: 24px;
    }
}
.mr-1{
    margin-right: 0.5rem;
}
.mr-3{
    margin-right: 24px;
}

.ml-3{
    margin-left: 24px;
}

.mb-1{
    margin-bottom: 8px;
}

@mixin indexContainer{
	padding-top: 64px;
    padding-bottom: 80px;
}



//banner區塊

//PC
.banner{   
    background-image: url(https://rockalen.github.io/w3HomeWork/images/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    color: $font-primary;



    &__content{
        height: 840px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        /* padding-right: 360px; */
        font-weight: 700;
        p{
            line-height: 56px;
            font-size: 36px;
        }

        h1{
            font-size: 64px;
        }
    }
}

/* 平板 */
@media (max-width:768px){
   
    .banner{
        background-image: url(https://rockalen.github.io/w3HomeWork/images/68.png);
       
        &__content{
            p{
                font-size: 20px;
                line-height: 30px;
            }

            h1{
                font-size: 48px;
            }
        }
    }
   
}



/* 手機 */
@media (max-width:375px){
    
    .banner__content{
        height: 394px;
        .p{
            font-size: 16px;
        }
    }
    .banner{
        background-image: url(https://rockalen.github.io/w3HomeWork/images/banner-phone.png);
        background-size: cover;

        &__content{
            p{
                font-size: 16px;
            }

            h1{
                font-size: 32px;
            }
        }
    }
}


// 專業區塊

// PC
.profession{
    background-color: #AA06010D;
    @include indexContainer;

    h2{
        color: $font-primary;
        margin-bottom: 44px;
    }
    li{
        width: 24.9%;
        text-align: center;
        padding: 0 37px;

        img{
            width: 100px;
            height: 100px;
            margin-bottom: 40px;
        }
        h3{
            font-size: 24px;
            color: $font-primary;
            margin-bottom: 4px;
        }

        p{
            font-size: 16px;
            text-align: left;
            line-height: 24px;
        }

        // &:not(:last-child){
        // }
    }


    &__list{
        display: flex;
        justify-content: space-around;
    }
}

/* 平板 */
@media (max-width:768px){
    .profession{
        li{
            width: 46%;
            padding: 0 50px;
            margin-bottom: 32px;


            img{
                width: 80px;
                height: 80px;
                margin-bottom: 16px;
            }

            h3{
                margin-bottom: 8px;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .order-1{
        order:1;
    }

    .order-2{
        order:2;
    }
}

/* (手機) */
@media (max-width:375px){
    
    .profession{
        padding: 56px 0;

        li{
            width: 100%;
        }
    }
    
}


// 經典鏡框區塊
// PC

.product{
    @include indexContainer;

    h2{
        color: $font-primary;
        margin-bottom: 60px;
    }

    li{
        display: flex;
        align-items: center;

        &:nth-child(2){
            flex-direction: row-reverse;

        }

        &:not(:last-child){
            margin-bottom: 32px;
        }

        h3{
            font-size: 48px;
            display: flex;
            align-items: center;
            color: $primary;
            font-style: italic;
            font-weight: 700;
        }
    }
}

/* 平板 */
@media (max-width:768px){
    .product{
        padding: 40px 0;
        h2{
            margin-bottom: 32px;
        }
    }
    .product__list{

        img{
            width: 60%;
        }
        li{
            h3{
                justify-content: center;
                font-size: 28px;
                width: 100%;
                img{
                    width: 10%;
                }
            }
            &:nth-child(2){
                flex-direction: row;
                img{
                    margin-left: 0;
                }
            }
        }
    }
}

/* 經典系列鏡框(手機) */

@media(max-width: 375px) {
    .product{
        padding: 24px 0;

        h2{
            margin-bottom: 16px;
        }
    }
    .product__list li{
        position: relative;

        img{
            width: 100%; 
        }
        
        h3{
            font-size: 28px;
            line-height: 42px;
            position: absolute;
            color: #fff;
        }

        &:nth-child(1) h3 img{
            width: 32px;
            margin-right: 0.5rem;
            content: url('https://rockalen.github.io/w3HomeWork/images/icon-diamond-white.svg')
        }

        &:nth-child(2) h3 img{
            width: 32px;
            margin-right: 0.5rem;
            content: url('https://rockalen.github.io/w3HomeWork/images/icon-sun-white.svg')
        }
        &:nth-child(3) h3 img{
            width: 23px;
            margin-right: 0.5rem;
            content: url('https://rockalen.github.io/w3HomeWork/images/icon-thunder-white.svg')
        }

        &:not(:last-child){
            margin-bottom: 8px;
        }
        
    }


}

// 聯名設計區塊

.design{
    background-size: auto 2162px;
    // display: flex;
    // flex-direction: column;
    background-image: url(https://rockalen.github.io/w3HomeWork/images/bg.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding-bottom: 80px;

    h2{
        color: #fff;
        margin-bottom: 60px;
    }

    &__more{
        max-width: 1539px;  
        margin-bottom: 60px;
    }

  
}


.design__more{
    .joint-dgn-phone-block{
        display: none;
    }
}


.design__more--button{
    
    width: 100%;   
    position: relative;
    margin-top: 6px;   
    display: flex;
    justify-content: flex-end;

    span::before{
        content: "MORE";
        position: absolute;
        transition: all .65s .3s;
        transform: translateY(0px);
    }
    span:hover::before{
        transform: translateY(-85px);
        opacity: .7;
    }
    
    span::after{
        content: "MORE";
        position: absolute;
        transition: all .65s .3s;
        transform: translateY(0px);
    }
    span:hover::after{
        transform: translateY(-145px);
        opacity: .4;
    }
    
    &:hover span img:last-child{
        transform: translateX(15px);
    }
    img{
        margin-right: 83px;
    }  
    
    
    span{
        padding-left: 32px;
        padding-right: 19px;
        top:16%;
        position: absolute;      
        display: flex;
        align-items: center;       
        max-width: 315px;        
        background-color: #fff;
        font-size: 72px;
        font-weight: 700;
        color: $primary;
        line-height: 108px;
        img{
            margin-top: 10px;
            margin-left: 17px;
        }
    }
    
    
    
}


.design__box{
    // display: flex;
    // justify-content: space-between;
    /* text-align: center; */
    color: $primary;
    font-size: 72px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 80px;
    li{
        position: relative; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 49%;
        height: 592px;    
        background-repeat: no-repeat;
        background-size: cover;
        &::after{
            position: absolute;
            height: 100%;
            width: 100%;
            content:"";
            background:rgba(255, 255, 255,0.5) ;
        
        }
        span{
            z-index: 10000;
        }
    }   
}



.design__box--item1{
    background-image: url(https://rockalen.github.io/w3HomeWork/images/product-8.png);
    margin-right: 30px;    
}

.design__box--item2{    
    background-image: url(https://rockalen.github.io/w3HomeWork/images/product-9.png);    
}
/* 平板 */
@media (max-width:768px){
    .design{

        background-size: auto 1221px;
        padding: 40px 0;
        h2{
            margin-bottom: 32px;
        }


        &__more{
            max-width: 672px;  
            margin-bottom: 60px;
        }


    }


    .design__more{
        .joint-dgn-phone-block{
            display: none;
        }
    }

    .design__more--button{
        margin-top: 0;
        img{         
            margin-right: 47px;
        }
        div{
            /* margin-top: 0; */
            width: 147px;
            height: 77px;
            display: flex;
            justify-content: flex-end;
        }
        span{
            padding-left: 19px;
            /* padding-right: 19px; */
            top: 9%;
            font-size: 40px;
            line-height: 59px;
            max-width: 178px;
            img {        
                width: 22px;
                margin-top: 7px;
                margin-left: 10px;
                
            }
        }
        
    }
    
    .design__box{
        font-size: 32px;
        margin-bottom: 0;
        li{            
            height: 280px;
        }
    }
}

@media (max-width:375px){
    .design{
        
        background-size: auto 1096px;
        padding: 24px 0;
        h2{
            margin-bottom: 16px;
        }
        &__more{
            max-width: 327px;  
            margin-bottom: 20px;

            .joint-dgn-phone-block{
                display: flex;
                margin-bottom: 2px;
            }

            .joint-dgn-item4{
                min-width: 156px;
                max-height: 226px;
            }

            .joint-dgn-item7{
                .box-hidden{
                    display: none;
                }
            }

            .joint-dgn-p6 img{
                max-width: 32px;
                min-height:99px;
            }   

            &--button{
                justify-content: flex-start;
                span {
                    padding-left: 12px;
                    top: 34px;
                    left: 13px;
                    font-size: 26px;
                    line-height: 41px;
                    max-width: 124px;
                    img{
                        margin-top: 0;
                        margin-left: 8px;
                        width: 18px;
                    }
                }
                div{
                    justify-content: flex-start;
                    /* align-items: center; */
                    height: 53px;
                    margin-top: 28px;
                    img{            
                        width: 102px;       
                    }
                }   
               
            }
        }

        .design__more--col{
            max-width: 169px;
        }

        .mb-1{
            margin-bottom: 2px;
        }
        .mr-1{
            margin-right: 2px;
        }
    }

    .design__box{
        flex-direction: column;

        li{
            width: 100%;

            &:first-child{
                margin-bottom: 20px;
            }
        }
    }
}


// 顧客推薦區塊

.recommend{
    padding-top: 40px;

    li{
        width: 23.5%;
        background-color: #fff;

        img{
            width: 100%;
            height: 256px;
        }
        div{
            border-style: solid;
            border-width: 0px 1px 1px 1px;
            border-color:#DEE2E6;
        }
        p{
            padding: 16px;
            padding-top: 0px;
            p:last-child{ 
                line-height: 21px;     
            }    
        }

        h3{
            padding: 16px;
            line-height: 21px;
            font-weight: 600;  
        }

    }
}

/* 平板 */
@media (max-width:768px){
    .recommend{
        li{
            width: 48%;
            margin-bottom: 24px;
            p:last-child{
                color: #707070;
            }

        }
    }
}

/* 手機 */
@media (max-width:375px){
    .recommend{
        padding-top: 24px;
        li{
            width: 100%;
        }
    }
}

// 聯絡我們

.contact{
    background: #AA06010D;
    font-size: 20px;
    padding-top: 64px;
    padding-bottom: 108px;

    &__container{
        max-width: 792px;
        margin: 0 auto;
    }

    h2{
        margin-bottom: 24px;
    }

    p{
        margin-bottom: 20px;
    }

    label{
        display: block;
        margin-bottom: 4px;
    }

    input,textarea{
        background-color:transparent;

        width: 100%;
        font-family:'Microsoft JhengHei';
        font-size: 16px;
        border: 1px solid #000;
    }

    input{   
        padding:12.5px 16px;    
    }
    
    textarea {
        height: 136px;
        padding: 14px 16px;
        box-sizing: border-box;
        /* border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8; */
        resize: none;
    }

    form{
       
        div{
            margin-bottom: 16px;
            font-size: 16px;
        }
    }

    .checkbox{
        align-items: center;
        margin-bottom: 42px;
        label{
            margin-bottom: 0;
            line-height: 24px;
        }
        input{
            margin: 4px;
            width: 22px; 
            height: 22px;
        }


        
    }


    .contact__container--button{
        text-align: center;
        a{
            padding: 16px 58px;
            background: $primary;
        }
    }
  


}

@media (max-width:768px){
    .contact{
        padding-top: 40px;
        padding-bottom: 63px;
        font-size: 16px;
        h2{
            margin-bottom: 16px;
        }

        p{
            line-height: 24px;
        }
        &__container{
            max-width: 496px;
            margin: 0 auto;
            
        }

        .checkbox{
            align-items: start;            
        }

        .contact__container--button{
            text-align: center;
            a{
                padding: 7px 36px;
                background: $primary;
            }
        }
    }

   
}

@media (max-width:375px){
    .contact{
        
        &__container{
            max-width: 327px;
            margin: 0 auto;
            
        }


        .checkbox{
            align-items: start;    
            margin-bottom: 27px;        
            font-size: 14px;
        }
    }
}