.nav{
    background: $primary;
    padding: 0 88px;
    height: 108px;

    .ham-icon {
        display: none;
    }

    .logo{
        width: 80px;
    }
    
    li a{
        line-height: 30px;
        font-size: 20px;
        padding: 16px;
        margin: 24px 16px;
        &:hover{
            padding-bottom: 5px;
            border-bottom: 3px solid #fff;
            border-radius: 5px;
        }
    }

    li:last-child a{
        /* padding-right: 0; */
        margin-right: 0;
    }


}

@media(max-width:768px){
    .nav{
        padding: 0 48px;

        li a{
            padding: 10px;
            margin: 30px 10px;
        }
    }
}

@media (max-width:375px){
    .nav{
        justify-content: center;
        height: 50px;

        .ham-icon {
            display: flex;
            position: absolute;
            left: 13px;
            color: #FFFFFF;
            font-size: 24px;
        }

        .logo{
            width: 48px;
        }
        &__list{
           display: none;
        }

       
    }
   
    
}